In [1]:
# If you havent installed pandas and SQLite3
'''
pip install pandas
pip install sqlite3
'''

'\npip install pandas\npip install sqlite3\n'

In [2]:
import pandas as pd
import os
import sqlite3
#please change your working directory according to the file in your machine
os.chdir(r'/Users/mint/Code') #replace /Users/mint/Code

# Scen 2 Task 1

In [3]:
# Loading excel sheets into dataframe
df1 = pd.read_excel('Genie Dataset 1.xlsx', sheet_name=0)
#df1a = pd.read_excel('Genie Dataset 1.xlsx', sheet_name=1)

df2 = pd.read_excel('Genie Dataset 2.xlsx', sheet_name=0)
#df2a = pd.read_excel('Genie Dataset 1.xlsx', sheet_name=1)

df3 = pd.read_excel('Genie Dataset 3.xlsx', sheet_name=0)
#df2a = pd.read_excel('Genie Dataset 1.xlsx', sheet_name=1)

df4 = pd.read_excel('Genie Dataset 4.xlsx', sheet_name=0)
#df3a = pd.read_excel('Genie Dataset 1.xlsx', sheet_name=1)

In [4]:
def df1_info(df1):
    print("------------ Shape ------------")
    print(df1.shape)
    print("------------ Info ------------")
    print(df1.info())
    print("------------ Columns ------------")
    print(df1.columns)
    print("------------ Quantiles ------------")
    print(df1.describe())
    print("------------ NA ------------")
    print(df1.isnull().sum())
print(df1_info(df1))

------------ Shape ------------
(277, 23)
------------ Info ------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date Settled   277 non-null    datetime64[ns]
 1   Agrt No.       277 non-null    object
 2   Reg No.        277 non-null    object
 3   Agrt Date      277 non-null    datetime64[ns]
 4   Block No       0 non-null      float64
 5   Loan Amt       277 non-null    int64
 6   Term Charges   277 non-null    int64
 7   Total Payable  277 non-null    int64
 8   Principle Amt  277 non-null    int64
 9   Rebate         277 non-null    int64
 10  GL Bal         277 non-null    int64
 11  Last Pd Amt    277 non-null    int64
 12  Tot Instal Pd  277 non-null    int64
 13  O/D Int        277 non-null    int64
 14  Postage        277 non-null    float64
 15  Misc           277 non-null    int64
 16  Repo Exp       277 non-null    int64
 17  Storage        277 non-null    int64
 18  Legal Exp      277 non-null    int64
 19  LOD            277 non-null    int64
 20  JPJ Exp        277 non-null    int64
 21  Dealer ID      277 non-null    object
 22  Loan Type      277 non-null    object
dtypes: datetime64[ns](2), float64(2), int64(15), object(4)
memory usage: 49.9+ KB
None
------------ Columns ------------
Index(['Date Settled', 'Agrt No.', 'Reg No.', 'Agrt Date', 'Block No',
       'Loan Amt', 'Term Charges', 'Total Payable', 'Principle Amt', 'Rebate',
       'GL Bal', 'Last Pd Amt', 'Tot Instal Pd', 'O/D Int', 'Postage', 'Misc',
       'Repo Exp', 'Storage', 'Legal Exp', 'LOD', 'JPJ Exp', 'Dealer ID',
       'Loan Type'],
      dtype='object')
------------ Quantiles ------------
                        Date Settled                      Agrt Date  Block No  \
count                            277                            277       0.0
mean   2023-11-27 23:23:36.606498304  2022-10-31 16:17:19.711191296       NaN
min              2022-04-07 00:00:00            2022-01-27 00:00:00       NaN
25%              2023-07-04 00:00:00            2022-06-09 00:00:00       NaN
50%              2024-01-12 00:00:00            2022-09-29 00:00:00       NaN
75%              2024-05-27 00:00:00            2023-03-16 00:00:00       NaN
max              2024-07-31 00:00:00            2024-05-27 00:00:00       NaN
std                              NaN                            NaN       NaN

           Loan Amt  Term Charges  Total Payable  Principle Amt        Rebate  \
count    277.000000    277.000000     277.000000     277.000000    277.000000
mean   22071.119134  10620.108303   32691.227437   16830.433213   6985.667870
min     4800.000000   1710.000000    7200.000000      10.000000      0.000000
25%    15000.000000   6870.000000   22500.000000   10540.000000   3280.000000
50%    20280.000000   9410.000000   30240.000000   16610.000000   5870.000000
75%    27060.000000  12900.000000   38700.000000   21590.000000   9470.000000
max    51240.000000  40500.000000   85500.000000   47820.000000  27520.000000
std     9945.688337   6158.122095   15105.094421    9163.654963   5128.930448

       GL Bal   Last Pd Amt  Tot Instal Pd  O/D Int     Postage   Misc  \
count   277.0    277.000000     277.000000    277.0  277.000000  277.0
mean      0.0  16945.559567   25705.306859      8.0    0.147292    0.0
min       0.0     10.000000    5840.000000      8.0    0.000000    0.0
25%       0.0  10200.000000   17680.000000      8.0    0.000000    0.0
50%       0.0  16770.000000   23510.000000      8.0    0.000000    0.0
75%       0.0  21600.000000   31250.000000      8.0    0.000000    0.0
max       0.0  49200.000000   61770.000000      8.0   40.800000    0.0
std       0.0   9599.631454   11852.453776      0.0    2.451434    0.0

       Repo Exp  Storage  Legal Exp    LOD  JPJ Exp
count     277.0    277.0      277.0  277.0    277.0
mean        0.0      0.0        0.0    0.0      0.0
min         0.0      0.0        0.0    0.0      0.0
25%         0.0      0.0        0.0    0.0      0.0
50%         0.0      0.0        0.0    0.0      0.0
75%         0.0      0.0        0.0    0.0      0.0
max         0.0      0.0        0.0    0.0      0.0
std         0.0      0.0        0.0    0.0      0.0
------------ NA ------------
Date Settled       0
Agrt No.           0
Reg No.            0
Agrt Date          0
Block No         277
Loan Amt           0
Term Charges       0
Total Payable      0
Principle Amt      0
Rebate             0
GL Bal             0
Last Pd Amt        0
Tot Instal Pd      0
O/D Int            0
Postage            0
Misc               0
Repo Exp           0
Storage            0
Legal Exp          0
LOD                0
JPJ Exp            0
Dealer ID          0
Loan Type          0
dtype: int64
None

In [5]:
def df3_info(df3):
    print("------------ Shape ------------")
    print(df3.shape)
    print("------------ Info ------------")
    print(df3.info())
    print("------------ Columns ------------")
    print(df3.columns)
    print("------------ Quantiles ------------")
    print(df3.describe())
    print("------------ NA ------------")
    print(df3.isnull().sum())
print(df3_info(df3))

------------ Shape ------------
(554, 53)
------------ Info ------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 53 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Branch              554 non-null    object
 1   Agrt No.            554 non-null    object
 2   Hirer IC            554 non-null    object
 3   Age                 554 non-null    int64
 4   State               554 non-null    object
 5   Occupation          11 non-null     object
 6   Marital             554 non-null    object
 7   Race                554 non-null    object
 8   Gender              554 non-null    object
 9   Total Income        554 non-null    int64
 10  Dealer ID           553 non-null    object
 11  Reg No.             554 non-null    object
 12  Car Made            554 non-null    object
 13  Yr Made             554 non-null    int64
 14  1st Appr Date       353 non-null    datetime64[ns]
 15  Appr Date           554 non-null    datetime64[ns]
 16  Process Officer     554 non-null    object
 17  Marketing Officer   554 non-null    object
 18  1st Appr By         353 non-null    object
 19  Appr By             554 non-null    object
 20  Comm Date           554 non-null    datetime64[ns]
 21  Agrt Date           554 non-null    datetime64[ns]
 22  Loan Amt            554 non-null    int64
 23  Tenure              554 non-null    int64
 24  Int Rate            554 non-null    float64
 25  Eff Rate            554 non-null    float64
 26  GL Bal              554 non-null    int64
 27  Net Principal       554 non-null    int64
 28  Mthly Instal        554 non-null    int64
 29  No. Arrears         554 non-null    int64
 30  Last Pd Amt         554 non-null    int64
 31  Last Pd Date        554 non-null    datetime64[ns]
 32  Notice Date         40 non-null     datetime64[ns]
 33  N Code              554 non-null    int64
 34  Notice              40 non-null     object
 35  Legal Status        554 non-null    object
 36  % of Selling Price  554 non-null    float64
 37  NPSLP               554 non-null    int64
 38  DPD                 554 non-null    int64
 39  Grading             554 non-null    object
 40  MOF                 554 non-null    float64
 41  LVT MOF             554 non-null    float64
 42  Total DSR           554 non-null    float64
 43  Veh User            553 non-null    object
 44  RAMCI Hirer         554 non-null    int64
 45  RAMCI G1            554 non-null    float64
 46  RAMCI G2            554 non-null    int64
 47  RAMCI Average       554 non-null    float64
 48  Status              295 non-null    object
 49  Position            553 non-null    object
 50  Loan Type           554 non-null    object
 51  No. Instal Paid     554 non-null    int64
 52  Total Instal Pd     554 non-null    int64
dtypes: datetime64[ns](6), float64(8), int64(17), object(22)
memory usage: 229.5+ KB
None
------------ Columns ------------
Index(['Branch', 'Agrt No.', 'Hirer IC', 'Age', 'State', 'Occupation',
       'Marital', 'Race', 'Gender', 'Total Income', 'Dealer ID', 'Reg No.',
       'Car Made', 'Yr Made', '1st Appr Date', 'Appr Date', 'Process Officer',
       'Marketing Officer', '1st Appr By', 'Appr By', 'Comm Date', 'Agrt Date',
       'Loan Amt', 'Tenure', 'Int Rate', 'Eff Rate', 'GL Bal', 'Net Principal',
       'Mthly Instal', 'No. Arrears', 'Last Pd Amt', 'Last Pd Date',
       'Notice Date', 'N Code', 'Notice', 'Legal Status', '% of Selling Price',
       'NPSLP', 'DPD', 'Grading', 'MOF', 'LVT MOF', 'Total DSR', 'Veh User',
       'RAMCI Hirer', 'RAMCI G1', 'RAMCI G2', 'RAMCI Average', 'Status',
       'Position', 'Loan Type', 'No. Instal Paid', 'Total Instal Pd'],
      dtype='object')
------------ Quantiles ------------
              Age  Total Income      Yr Made                  1st Appr Date  \
count  554.000000    554.000000   554.000000                            353
mean    31.593863   2370.036101  2013.220217  2022-03-03 12:26:30.934844160
min      0.000000   1000.000000  2006.000000            2022-02-15 00:00:00
25%     24.000000   1000.000000  2011.000000            2022-02-23 00:00:00
50%     29.000000   2000.000000  2013.000000            2022-03-03 00:00:00
75%     37.000000   3000.000000  2015.000000            2022-03-10 00:00:00
max    120.000000  24000.000000  2021.000000            2022-03-25 00:00:00
std     10.589122   1720.603052     2.828789                            NaN

                           Appr Date                      Comm Date  \
count                            554                            554
mean   2022-02-19 11:08:00.866426112  2022-04-05 02:56:45.054151680
min              2021-12-20 00:00:00            2022-02-03 00:00:00
25%              2022-02-07 00:00:00            2022-03-21 00:00:00
50%              2022-02-24 00:00:00            2022-04-10 00:00:00
75%              2022-03-09 00:00:00            2022-04-22 00:00:00
max              2022-03-30 00:00:00            2022-04-30 00:00:00
std                              NaN                            NaN

                           Agrt Date      Loan Amt      Tenure    Int Rate  \
count                            554    554.000000  554.000000  554.000000
mean   2022-03-05 21:29:14.512635392  22578.880866   85.299639    8.252708
min              2022-01-03 00:00:00   7200.000000   36.000000    5.000000
25%              2022-02-21 00:00:00  16500.000000   60.000000    8.000000
50%              2022-03-10 00:00:00  20700.000000   84.000000    8.000000
75%              2022-03-22 00:00:00  27000.000000  108.000000    9.500000
max              2022-03-31 00:00:00  48000.000000  108.000000   10.000000
std                              NaN   8469.945046   19.347412    1.009557

       ...         DPD         MOF     LVT MOF   Total DSR  RAMCI Hirer  \
count  ...  554.000000  554.000000  554.000000  554.000000   554.000000
mean   ...   12.492780   74.787347    0.134910   20.555379     4.176895
min    ...    0.000000    0.000000    0.000000    0.000000     0.000000
25%    ...    0.000000   71.322500    0.000000   15.562500     2.000000
50%    ...    0.000000   77.330000    0.000000   21.135000     5.000000
75%    ...   11.750000   82.582500    0.000000   25.730000     6.000000
max    ...  182.000000   90.000000   74.740000   81.600000     9.000000
std    ...   27.213325   13.129018    3.175398    7.188150     2.635364

         RAMCI G1 RAMCI G2 RAMCI Average  No. Instal Paid  Total Instal Pd
count  554.000000    554.0    554.000000       554.000000       554.000000
mean     1.645307      0.0      4.394856        27.949458     11998.014440
min      0.000000      0.0      0.000000        22.000000      3800.000000
25%      0.000000      0.0      3.000000        27.000000      8700.000000
50%      0.000000      0.0      5.000000        28.000000     10900.000000
75%      4.000000      0.0      6.000000        29.000000     14175.000000
max      9.000000      0.0      9.000000        34.000000     31900.000000
std      2.794516      0.0      2.461526         1.456162      4575.484602

[8 rows x 31 columns]
------------ NA ------------
Branch                  0
Agrt No.                0
Hirer IC                0
Age                     0
State                   0
Occupation            543
Marital                 0
Race                    0
Gender                  0
Total Income            0
Dealer ID               1
Reg No.                 0
Car Made                0
Yr Made                 0
1st Appr Date         201
Appr Date               0
Process Officer         0
Marketing Officer       0
1st Appr By           201
Appr By                 0
Comm Date               0
Agrt Date               0
Loan Amt                0
Tenure                  0
Int Rate                0
Eff Rate                0
GL Bal                  0
Net Principal           0
Mthly Instal            0
No. Arrears             0
Last Pd Amt             0
Last Pd Date            0
Notice Date           514
N Code                  0
Notice                514
Legal Status            0
% of Selling Price      0
NPSLP                   0
DPD                     0
Grading                 0
MOF                     0
LVT MOF                 0
Total DSR               0
Veh User                1
RAMCI Hirer             0
RAMCI G1                0
RAMCI G2                0
RAMCI Average           0
Status                259
Position                1
Loan Type               0
No. Instal Paid         0
Total Instal Pd         0
dtype: int64
None

In [6]:
def df4_info(df4):
    print("------------ Shape ------------")
    print(df4.shape)
    print("------------ Info ------------")
    print(df4.info())
    print("------------ Columns ------------")
    print(df4.columns)
    print("------------ Quantiles ------------")
    print(df4.describe())
    print("------------ NA ------------")
    print(df4.isnull().sum())
print(df4_info(df4))

------------ Shape ------------
(602, 16)
------------ Info ------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Agrt No         602 non-null    object
 1   Agrt Date       602 non-null    datetime64[ns]
 2   IC No.          602 non-null    object
 3   Dealer ID       602 non-null    object
 4   Reg No          602 non-null    object
 5   Vehicle         602 non-null    object
 6   Loan Amt        602 non-null    int64
 7   Mthly Instal    602 non-null    int64
 8   Int Rate        602 non-null    float64
 9   Tenor           602 non-null    int64
 10  GL              602 non-null    int64
 11  Last Paid Date  602 non-null    datetime64[ns]
 12  Last Paid Amt   602 non-null    int64
 13  Arrears         602 non-null    int64
 14  Mth Due         602 non-null    int64
 15  Rebate          602 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(8), object(5)
memory usage: 75.4+ KB
None
------------ Columns ------------
Index(['Agrt No', 'Agrt Date', 'IC No.', 'Dealer ID', 'Reg No', 'Vehicle',
       'Loan Amt', 'Mthly Instal', 'Int Rate', 'Tenor', 'GL ',
       'Last Paid Date', 'Last Paid Amt', 'Arrears', 'Mth Due', 'Rebate'],
      dtype='object')
------------ Quantiles ------------
                           Agrt Date      Loan Amt  Mthly Instal    Int Rate  \
count                            602    602.000000    602.000000  602.000000
mean   2022-03-05 12:59:48.039867136  22555.315615    426.910299    8.264120
min              2022-01-03 00:00:00   7200.000000    100.000000    5.000000
25%              2022-02-21 00:00:00  16600.000000    300.000000    8.000000
50%              2022-03-10 00:00:00  20400.000000    400.000000    8.000000
75%              2022-03-22 00:00:00  27000.000000    500.000000    9.500000
max              2022-03-31 00:00:00  48000.000000   1100.000000   10.000000
std                              NaN   8458.577545    163.794711    1.004569

            Tenor           GL                  Last Paid Date  Last Paid Amt  \
count  602.000000    602.000000                            602     602.000000
mean    85.475083  23243.189369  2024-06-23 23:00:11.960132864     450.996678
min     36.000000   1500.000000            2022-11-07 00:00:00       0.000000
25%     60.000000  15625.000000            2024-07-02 00:00:00     300.000000
50%     84.000000  20900.000000            2024-07-12 00:00:00     400.000000
75%    108.000000  28900.000000            2024-07-26 00:00:00     500.000000
max    108.000000  69000.000000            2024-07-31 00:00:00    6000.000000
std     19.177172  11287.282986                            NaN     429.185666

           Arrears     Mth Due        Rebate
count   602.000000  602.000000    602.000000
mean    377.242525    0.935216    628.405316
min   -6500.000000  -33.000000      0.000000
25%       0.000000    0.000000      0.000000
50%       0.000000    0.000000      0.000000
75%     500.000000    1.000000      0.000000
max    9400.000000   13.000000  23500.000000
std    1140.174128    2.628550   2412.820813
------------ NA ------------
Agrt No           0
Agrt Date         0
IC No.            0
Dealer ID         0
Reg No            0
Vehicle           0
Loan Amt          0
Mthly Instal      0
Int Rate          0
Tenor             0
GL                0
Last Paid Date    0
Last Paid Amt     0
Arrears           0
Mth Due           0
Rebate            0
dtype: int64
None

In [7]:
print(df1['Agrt No.'].unique())
# print(df3['Agrt No.'].unique())
# print(df4['Agrt No'].unique())

['A0000001' 'A0000002' 'A0000003' 'A0000004' 'A0000005' 'A0000006'
 'A0000007' 'A0000008' 'A0000009' 'A0000010' 'A0000011' 'A0000012'
 'A0000013' 'A0000014' 'A0000015' 'A0000016' 'A0000017' 'A0000018'
 'A0000019' 'A0000020' 'A0000021' 'A0000022' 'A0000023' 'A0000024'
 'A0000025' 'A0000026' 'A0000027' 'A0000028' 'A0000029' 'A0000030'
 'A0000031' 'A0000032' 'A0000033' 'A0000034' 'A0000035' 'A0000036'
 'A0000037' 'A0000038' 'A0000039' 'A0000040' 'A0000041' 'A0000042'
 'A0000043' 'A0000044' 'A0000045' 'A0000046' 'A0000047' 'A0000048'
 'A0000049' 'A0000050' 'A0000051' 'A0000052' 'A0000053' 'A0000054'
 'A0000055' 'A0000056' 'A0000057' 'A0000058' 'A0000059' 'A0000060'
 'A0000061' 'A0000062' 'A0000063' 'A0000064' 'A0000065' 'A0000066'
 'A0000067' 'A0000068' 'A0000069' 'A0000070' 'A0000071' 'A0000072'
 'A0000073' 'A0000074' 'A0000075' 'A0000076' 'A0000077' 'A0000078'
 'A0000079' 'A0000080' 'A0000081' 'A0000082' 'A0000083' 'A0000084'
 'A0000085' 'A0000086' 'A0000087' 'A0000088' 'A0000089' 'A0000090'
 'A0000091' 'A0000092' 'A0000093' 'A0000094' 'A0000095' 'A0000096'
 'A0000097' 'A0000098' 'A0000099' 'A0000100' 'A0000101' 'A0000102'
 'A0000103' 'A0000104' 'A0000105' 'A0000106' 'A0000107' 'A0000108'
 'A0000109' 'A0000110' 'A0000111' 'A0000112' 'A0000113' 'A0000114'
 'A0000115' 'A0000116' 'A0000117' 'A0000118' 'A0000119' 'A0000120'
 'A0000121' 'A0000122' 'A0000123' 'A0000124' 'A0000125' 'A0000126'
 'A0000127' 'A0000128' 'A0000129' 'A0000130' 'A0000131' 'A0000132'
 'A0000133' 'A0000134' 'A0000135' 'A0000136' 'A0000137' 'A0000138'
 'A0000139' 'A0000140' 'A0000141' 'A0000142' 'A0000143' 'A0000144'
 'A0000145' 'A0000146' 'A0000147' 'A0000148' 'A0000149' 'A0000150'
 'A0000151' 'A0000152' 'A0000153' 'A0000154' 'A0000155' 'A0000156'
 'A0000157' 'A0000158' 'A0000159' 'A0000160' 'A0000161' 'A0000162'
 'A0000163' 'A0000164' 'A0000165' 'A0000166' 'A0000167' 'A0000168'
 'A0000169' 'A0000170' 'A0000171' 'A0000172' 'A0000173' 'A0000174'
 'A0000175' 'A0000176' 'A0000177' 'A0000178' 'A0000179' 'A0000180'
 'A0000181' 'A0000182' 'A0000183' 'A0000184' 'A0000185' 'A0000186'
 'A0000187' 'A0000188' 'A0000189' 'A0000190' 'A0000191' 'A0000192'
 'A0000193' 'A0000194' 'A0000195' 'A0000196' 'A0000197' 'A0000198'
 'A0000199' 'A0000200' 'A0000201' 'A0000202' 'A0000203' 'A0000204'
 'A0000205' 'A0000206' 'A0000207' 'A0000208' 'A0000209' 'A0000210'
 'A0000211' 'A0000212' 'A0000213' 'A0000214' 'A0000215' 'A0000216'
 'A0000217' 'A0000218' 'A0000219' 'A0000220' 'A0000221' 'A0000222'
 'A0000223' 'A0000224' 'A0000225' 'A0000226' 'A0000227' 'A0000228'
 'A0000229' 'A0000230' 'A0000231' 'A0000232' 'A0000233' 'A0000234'
 'A0000235' 'A0000236' 'A0000237' 'A0000238' 'A0000239' 'A0000240'
 'A0000241' 'A0000242' 'A0000243' 'A0000244' 'A0000245' 'A0000246'
 'A0000247' 'A0000248' 'A0000249' 'A0000250' 'A0000251' 'A0000252'
 'A0000253' 'A0000254' 'A0000255' 'A0000256' 'A0000257' 'A0000258'
 'A0000259' 'A0000260' 'A0000261' 'A0000262' 'A0000263' 'A0000264'
 'A0000265' 'A0000266' 'A0000267' 'A0000268' 'A0000269' 'A0000270'
 'A0000271' 'A0000272' 'A0000273' 'A0000274' 'A0000275' 'A0000276'
 'A0000277']

### Findings
Based on data exploration, "Agrt No." and "Agrt No" can be used as the common key to index and combine data.
Since the files are not too big, we will be combining all sheets into one dataset before loading into SQL. 

Since it is unclear what the data will be used for, I will merge the data sets without removing any rows

In [8]:
print(df1['Agrt No.'].dtype)
print(df3['Agrt No.'].dtype)
print(df4['Agrt No'].dtype)

object
object
object

In [9]:
# Merge data frames 
# Merge on df1 and df3 first due to column names 'Agrt No.'
merged_df = pd.merge(df1, df3, left_on='Agrt No.', right_on='Agrt No.', how='outer')
# Merge on df4
final_merged_df = pd.merge(merged_df, df4, left_on='Agrt No.', right_on='Agrt No', how='outer')
print(final_merged_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 879 entries, 0 to 878
Data columns (total 91 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date Settled        277 non-null    datetime64[ns]
 1   Agrt No.            831 non-null    object
 2   Reg No._x           277 non-null    object
 3   Agrt Date_x         277 non-null    datetime64[ns]
 4   Block No            0 non-null      float64
 5   Loan Amt_x          277 non-null    float64
 6   Term Charges        277 non-null    float64
 7   Total Payable       277 non-null    float64
 8   Principle Amt       277 non-null    float64
 9   Rebate_x            277 non-null    float64
 10  GL Bal_x            277 non-null    float64
 11  Last Pd Amt_x       277 non-null    float64
 12  Tot Instal Pd       277 non-null    float64
 13  O/D Int             277 non-null    float64
 14  Postage             277 non-null    float64
 15  Misc                277 non-null    float64
 16  Repo Exp            277 non-null    float64
 17  Storage             277 non-null    float64
 18  Legal Exp           277 non-null    float64
 19  LOD                 277 non-null    float64
 20  JPJ Exp             277 non-null    float64
 21  Dealer ID_x         277 non-null    object
 22  Loan Type_x         277 non-null    object
 23  Branch              554 non-null    object
 24  Hirer IC            554 non-null    object
 25  Age                 554 non-null    float64
 26  State               554 non-null    object
 27  Occupation          11 non-null     object
 28  Marital             554 non-null    object
 29  Race                554 non-null    object
 30  Gender              554 non-null    object
 31  Total Income        554 non-null    float64
 32  Dealer ID_y         553 non-null    object
 33  Reg No._y           554 non-null    object
 34  Car Made            554 non-null    object
 35  Yr Made             554 non-null    float64
 36  1st Appr Date       353 non-null    datetime64[ns]
 37  Appr Date           554 non-null    datetime64[ns]
 38  Process Officer     554 non-null    object
 39  Marketing Officer   554 non-null    object
 40  1st Appr By         353 non-null    object
 41  Appr By             554 non-null    object
 42  Comm Date           554 non-null    datetime64[ns]
 43  Agrt Date_y         554 non-null    datetime64[ns]
 44  Loan Amt_y          554 non-null    float64
 45  Tenure              554 non-null    float64
 46  Int Rate_x          554 non-null    float64
 47  Eff Rate            554 non-null    float64
 48  GL Bal_y            554 non-null    float64
 49  Net Principal       554 non-null    float64
 50  Mthly Instal_x      554 non-null    float64
 51  No. Arrears         554 non-null    float64
 52  Last Pd Amt_y       554 non-null    float64
 53  Last Pd Date        554 non-null    datetime64[ns]
 54  Notice Date         40 non-null     datetime64[ns]
 55  N Code              554 non-null    float64
 56  Notice              40 non-null     object
 57  Legal Status        554 non-null    object
 58  % of Selling Price  554 non-null    float64
 59  NPSLP               554 non-null    float64
 60  DPD                 554 non-null    float64
 61  Grading             554 non-null    object
 62  MOF                 554 non-null    float64
 63  LVT MOF             554 non-null    float64
 64  Total DSR           554 non-null    float64
 65  Veh User            553 non-null    object
 66  RAMCI Hirer         554 non-null    float64
 67  RAMCI G1            554 non-null    float64
 68  RAMCI G2            554 non-null    float64
 69  RAMCI Average       554 non-null    float64
 70  Status              295 non-null    object
 71  Position            553 non-null    object
 72  Loan Type_y         554 non-null    object
 73  No. Instal Paid     554 non-null    float64
 74  Total Instal Pd     554 non-null    float64
 75  Agrt No             602 non-null    object
 76  Agrt Date           602 non-null    datetime64[ns]
 77  IC No.              602 non-null    object
 78  Dealer ID           602 non-null    object
 79  Reg No              602 non-null    object
 80  Vehicle             602 non-null    object
 81  Loan Amt            602 non-null    float64
 82  Mthly Instal_y      602 non-null    float64
 83  Int Rate_y          602 non-null    float64
 84  Tenor               602 non-null    float64
 85  GL                  602 non-null    float64
 86  Last Paid Date      602 non-null    datetime64[ns]
 87  Last Paid Amt       602 non-null    float64
 88  Arrears             602 non-null    float64
 89  Mth Due             602 non-null    float64
 90  Rebate_y            602 non-null    float64
dtypes: datetime64[ns](10), float64(51), object(30)
memory usage: 625.0+ KB
None

In [10]:
# Connect to SQlite database/create database
# this data base will be created in your os path
conn = sqlite3.connect('genie_database.db')
# Create cursor object to execute SQL queries
cursor = conn.cursor()

In [11]:
# Load merged df into db
final_merged_df.to_sql('final_table', conn, if_exists='replace', index=False)

879

In [12]:
# Query the database to check the first few rows
cursor.execute("SELECT * FROM final_table LIMIT 5")
rows = cursor.fetchall()

# Print the retrieved rows
for row in rows:
    print(row)

('2024-05-06 00:00:00', 'A0000001', 'WRJ****', '2022-01-27 00:00:00', None, 18000.0, 9000.0, 27000.0, 11640.0, 2600.0, 0.0, 24600.0, 24400.0, 8.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'D0000001', 'CONVENTIONAL', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)
('2023-04-05 00:00:00', 'A0000002', 'WTU****', '2022-02-08 00:00:00', None, 24000.0, 6840.0, 30840.0, 17960.0, 2600.0, 0.0, 18040.0, 28240.0, 8.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'D0000002', 'CONVENTIONAL', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)
('2024-05-17 00:00:00', 'A0000003', 'WXT****', '2022-02-09 00:00:00', None, 8400.0, 3360.0, 11760.0, 4100.0, 970.0, 0.0, 4110.0, 10790.0, 8.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'D0000003', 'CONVENTIONAL', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)
('2024-03-14 00:00:00', 'A0000004', 'WVJ****', '2022-02-09 00:00:00', None, 16200.0, 7700.0, 23900.0, 7160.0, 2500.0, 0.0, 7160.0, 21390.0, 8.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'D0000004', 'CONVENTIONAL', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)
('2024-03-13 00:00:00', 'A0000005', 'WUF****', '2022-02-17 00:00:00', None, 9840.0, 4670.0, 14510.0, 3540.0, 1610.0, 0.0, 3540.0, 12900.0, 8.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'D0000005', 'CONVENTIONAL', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)

In [13]:
# Commit changes and close the connection
conn.commit()
conn.close()

# Scen 2 Task 2 
Generate HP ageing buckets

Task 2: Generate hp aging bucket by number of account and general ledger balance snapshot based on Genie Dataset 1 and Genie Dataset 4. 
Aging buckets refer to category M0 : 0 days, category M1 : 1 – 30 days, category M2 : 31– 60 days, category M3 : 61 – 90 days, category > M3 : > 90 days. 
Aging is defined based on days different between reporting day and contract commencement date. Candidate could provide the result in python format or using any BI Tools.

HP refers to hire purchase: difference between reporting date and contract commencement date [Agrt Date, Date Settled] and [Agrt Date, Last paid date]
General Ledger: GL or GL Bal

In [14]:
print(df1.info())
print(df1.head)

print(df4.info())
print(df4.head)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date Settled   277 non-null    datetime64[ns]
 1   Agrt No.       277 non-null    object
 2   Reg No.        277 non-null    object
 3   Agrt Date      277 non-null    datetime64[ns]
 4   Block No       0 non-null      float64
 5   Loan Amt       277 non-null    int64
 6   Term Charges   277 non-null    int64
 7   Total Payable  277 non-null    int64
 8   Principle Amt  277 non-null    int64
 9   Rebate         277 non-null    int64
 10  GL Bal         277 non-null    int64
 11  Last Pd Amt    277 non-null    int64
 12  Tot Instal Pd  277 non-null    int64
 13  O/D Int        277 non-null    int64
 14  Postage        277 non-null    float64
 15  Misc           277 non-null    int64
 16  Repo Exp       277 non-null    int64
 17  Storage        277 non-null    int64
 18  Legal Exp      277 non-null    int64
 19  LOD            277 non-null    int64
 20  JPJ Exp        277 non-null    int64
 21  Dealer ID      277 non-null    object
 22  Loan Type      277 non-null    object
dtypes: datetime64[ns](2), float64(2), int64(15), object(4)
memory usage: 49.9+ KB
None
<bound method NDFrame.head of     Date Settled  Agrt No.  Reg No.  Agrt Date  Block No  Loan Amt  \
0     2024-05-06  A0000001  WRJ**** 2022-01-27       NaN     18000
1     2023-04-05  A0000002  WTU**** 2022-02-08       NaN     24000
2     2024-05-17  A0000003  WXT**** 2022-02-09       NaN      8400
3     2024-03-14  A0000004  WVJ**** 2022-02-09       NaN     16200
4     2024-03-13  A0000005  WUF**** 2022-02-17       NaN      9840
..           ...       ...      ...        ...       ...       ...
272   2024-06-14  A0000273  JNP**** 2024-03-29       NaN     15600
273   2024-07-11  A0000274  WA6**** 2024-04-18       NaN     27060
274   2024-07-30  A0000275  WSF**** 2024-05-14       NaN     18600
275   2024-06-11  A0000276  WVB**** 2024-05-15       NaN     18000
276   2024-06-24  A0000277  WC2**** 2024-05-27       NaN     18600

     Term Charges  Total Payable  Principle Amt  Rebate  ...  O/D Int  \
0            9000          27000          11640    2600  ...        8
1            6840          30840          17960    2600  ...        8
2            3360          11760           4100     970  ...        8
3            7700          23900           7160    2500  ...        8
4            4670          14510           3540    1610  ...        8
..            ...            ...            ...     ...  ...      ...
272          7800          23400          15960    7050  ...        8
273         16100          43160          27150   14980  ...        8
274          9300          27900          18550    8400  ...        8
275          3600          21600          18290    3310  ...        8
276          9300          27900          18900    9000  ...        8

     Postage  Misc  Repo Exp  Storage  Legal Exp  LOD  JPJ Exp  Dealer ID  \
0        0.0     0         0        0          0    0        0   D0000001
1        0.0     0         0        0          0    0        0   D0000002
2        0.0     0         0        0          0    0        0   D0000003
3        0.0     0         0        0          0    0        0   D0000004
4        0.0     0         0        0          0    0        0   D0000005
..       ...   ...       ...      ...        ...  ...      ...        ...
272      0.0     0         0        0          0    0        0   D0000153
273      0.0     0         0        0          0    0        0   D0000154
274      0.0     0         0        0          0    0        0   D0000039
275      0.0     0         0        0          0    0        0   D0000145
276      0.0     0         0        0          0    0        0   D0000019

        Loan Type
0    CONVENTIONAL
1    CONVENTIONAL
2    CONVENTIONAL
3    CONVENTIONAL
4    CONVENTIONAL
..            ...
272  CONVENTIONAL
273  CONVENTIONAL
274  CONVENTIONAL
275  CONVENTIONAL
276  CONVENTIONAL

[277 rows x 23 columns]>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Agrt No         602 non-null    object
 1   Agrt Date       602 non-null    datetime64[ns]
 2   IC No.          602 non-null    object
 3   Dealer ID       602 non-null    object
 4   Reg No          602 non-null    object
 5   Vehicle         602 non-null    object
 6   Loan Amt        602 non-null    int64
 7   Mthly Instal    602 non-null    int64
 8   Int Rate        602 non-null    float64
 9   Tenor           602 non-null    int64
 10  GL              602 non-null    int64
 11  Last Paid Date  602 non-null    datetime64[ns]
 12  Last Paid Amt   602 non-null    int64
 13  Arrears         602 non-null    int64
 14  Mth Due         602 non-null    int64
 15  Rebate          602 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(8), object(5)
memory usage: 75.4+ KB
None
<bound method NDFrame.head of       Agrt No  Agrt Date        IC No. Dealer ID  Reg No  \
0    A0000278 2022-01-03  87121902****   D000001  WB****
1    A0000832 2022-01-05  77092106****   D000002  CD****
2    A0000279 2022-01-06  86123104****   D000003  WT****
3    A0000280 2022-01-07  85042108****   D000004  WX****
4    A0000281 2022-01-07  95032714****   D000005  VT****
..        ...        ...           ...       ...     ...
597  A0000817 2022-03-31  98041701****   D000093  DD****
598  A0000823 2022-03-31  99042502****   D000099  JQ****
599  A0000825 2022-03-31  99060936****   D000067  WW****
600  A0000818 2022-03-31  99071614****   D000103  VD****
601  A0000828 2022-03-31  99081901****   D000081  WC****

                          Vehicle  Loan Amt  Mthly Instal  Int Rate  Tenor  \
0                TOYOTA WISH 1.8L     37800           800      10.0     84
1          PERODUA BEZZA 1300X AT     21600           300       8.0    108
2      NISSAN LATIO 1.6L ST-L A/T      9000           300      10.0     36
3         MAZDA MAZDA2 1.5SDN (A)     17600           300       8.0     84
4            PROTON SAGA 1.3L CVT     17400           300       8.0     84
..                            ...       ...           ...       ...    ...
597   VOLKSWAGEN GOLF GTI 2.0 (A)     39000           700       8.0     84
598  PROTON SAGA FL 1.3 AUTOMATIK     14400           200       8.0    108
599         TOYOTA VIOS 1.5E (AT)     22400           400       7.0     84
600   HONDA CIVIC 1.8L I-VTEC (A)     30500           500       7.0     84
601          PROTON IRIZ 1.6L CVT     17300           300       8.0    108

       GL  Last Paid Date  Last Paid Amt  Arrears  Mth Due  Rebate
0    41300     2024-07-31            800        0        0       0
1     6100     2024-02-29              0      400        2    9000
2     1600     2024-07-05            300     -400       -1       0
3    17600     2024-07-31            300        0        0       0
4    17400     2024-07-01            300     -100        0       0
..     ...            ...            ...      ...      ...     ...
597  40500     2024-07-29            700        0        0       0
598  18800     2024-07-02            200      500        2       0
599  22300     2024-07-30            400        0        0       0
600  30800     2024-07-02            500      500        1       0
601  22400     2024-07-05            300      300        1       0

[602 rows x 16 columns]>

In [15]:
# merge df1 and df4
task2_df = pd.merge(df1, df4, left_on='Agrt No.', right_on='Agrt No', how='outer')

In [16]:
print(task2_df.columns)

Index(['Date Settled', 'Agrt No.', 'Reg No.', 'Agrt Date_x', 'Block No',
       'Loan Amt_x', 'Term Charges', 'Total Payable', 'Principle Amt',
       'Rebate_x', 'GL Bal', 'Last Pd Amt', 'Tot Instal Pd', 'O/D Int',
       'Postage', 'Misc', 'Repo Exp', 'Storage', 'Legal Exp', 'LOD', 'JPJ Exp',
       'Dealer ID_x', 'Loan Type', 'Agrt No', 'Agrt Date_y', 'IC No.',
       'Dealer ID_y', 'Reg No', 'Vehicle', 'Loan Amt_y', 'Mthly Instal',
       'Int Rate', 'Tenor', 'GL ', 'Last Paid Date', 'Last Paid Amt',
       'Arrears', 'Mth Due', 'Rebate_y'],
      dtype='object')

In [17]:
# difference in days create column called aging
# for df1 columns
task2_df['Ageing'] = (task2_df['Date Settled'] - task2_df['Agrt Date_x']).dt.days
# for df2 columns
task2_df['Ageing'] = (task2_df['Last Paid Date'] - task2_df['Agrt Date_y']).dt.days

In [18]:
print(task2_df.head)

<bound method NDFrame.head of     Date Settled  Agrt No.  Reg No. Agrt Date_x  Block No  Loan Amt_x  \
0     2024-05-06  A0000001  WRJ****  2022-01-27       NaN     18000.0
1     2023-04-05  A0000002  WTU****  2022-02-08       NaN     24000.0
2     2024-05-17  A0000003  WXT****  2022-02-09       NaN      8400.0
3     2024-03-14  A0000004  WVJ****  2022-02-09       NaN     16200.0
4     2024-03-13  A0000005  WUF****  2022-02-17       NaN      9840.0
..           ...       ...      ...         ...       ...         ...
874          NaT       NaN      NaN         NaT       NaN         NaN
875          NaT       NaN      NaN         NaT       NaN         NaN
876          NaT       NaN      NaN         NaT       NaN         NaN
877          NaT       NaN      NaN         NaT       NaN         NaN
878          NaT       NaN      NaN         NaT       NaN         NaN

     Term Charges  Total Payable  Principle Amt  Rebate_x  ...  Mthly Instal  \
0          9000.0        27000.0        11640.0    2600.0  ...           NaN
1          6840.0        30840.0        17960.0    2600.0  ...           NaN
2          3360.0        11760.0         4100.0     970.0  ...           NaN
3          7700.0        23900.0         7160.0    2500.0  ...           NaN
4          4670.0        14510.0         3540.0    1610.0  ...           NaN
..            ...            ...            ...       ...  ...           ...
874           NaN            NaN            NaN       NaN  ...         700.0
875           NaN            NaN            NaN       NaN  ...         200.0
876           NaN            NaN            NaN       NaN  ...         400.0
877           NaN            NaN            NaN       NaN  ...         500.0
878           NaN            NaN            NaN       NaN  ...         300.0

     Int Rate  Tenor      GL   Last Paid Date  Last Paid Amt  Arrears  \
0         NaN    NaN      NaN             NaT            NaN      NaN
1         NaN    NaN      NaN             NaT            NaN      NaN
2         NaN    NaN      NaN             NaT            NaN      NaN
3         NaN    NaN      NaN             NaT            NaN      NaN
4         NaN    NaN      NaN             NaT            NaN      NaN
..        ...    ...      ...             ...            ...      ...
874       8.0   84.0  40500.0      2024-07-29          700.0      0.0
875       8.0  108.0  18800.0      2024-07-02          200.0    500.0
876       7.0   84.0  22300.0      2024-07-30          400.0      0.0
877       7.0   84.0  30800.0      2024-07-02          500.0    500.0
878       8.0  108.0  22400.0      2024-07-05          300.0    300.0

     Mth Due  Rebate_y  Ageing
0        NaN       NaN     NaN
1        NaN       NaN     NaN
2        NaN       NaN     NaN
3        NaN       NaN     NaN
4        NaN       NaN     NaN
..       ...       ...     ...
874      0.0       0.0   851.0
875      2.0       0.0   824.0
876      0.0       0.0   852.0
877      1.0       0.0   824.0
878      1.0       0.0   827.0

[879 rows x 40 columns]>

In [19]:
# Combine Agrt No columns, filling in missing values from one column with values from another
task2_df['Agrt_No_combined'] = task2_df['Agrt No.'].combine_first(task2_df['Agrt No'])

In [20]:
# General Ledger columns
#replace NaN values in GL and GL Bal
task2_df['GL Bal'] = task2_df['GL Bal'].fillna(0)
task2_df['GL '] = task2_df['GL '].fillna(0)
# combine different GL and GL Bal columns
task2_df['total_GL_balance'] = task2_df['GL Bal'] + task2_df['GL ']

In [21]:
# Define age buckets based on the column ageing
def ageing_catergory(days):
    if days == 0:
        return 'M0'
    elif 1 <= days <= 30:
        return 'M1'
    elif 31 <= days <= 60:
        return 'M2'
    elif 61 <= days <= 90:
        return 'M3'
    else:
        return '>M3'

In [22]:
# Creating a new column for 'Aging 
task2_df['Ageing Categories'] = task2_df['Ageing'].apply(ageing_catergory)

In [23]:
# creating table
# group by aging bucket, count unique accounts and sum the general ledger balance
ageing_summary = task2_df.groupby('Ageing Categories').agg(
    num_accounts=('Agrt_No_combined', 'nunique'),  # use 'nunique' to count unique account numbers
    total_gl_balance=('total_GL_balance', 'sum')   # sum of general ledger 
).reset_index()

print(ageing_summary)

  Ageing Categories  num_accounts  total_gl_balance
0               >M3           879        13992400.0

# Scen 2 Task 3
Based on HP OS, what is company risk profile and illustrate current account performance summary ie. Current active loan holder paid installment in term of month and installment period position.

Considerations of risk profile: 
- loan holders installment period
- whether they are paying on time

In [24]:
performance_summary = task2_df.groupby('Ageing Categories').agg(
    num_accounts=('Agrt_No_combined', 'nunique'),          
    total_loan_amount=('Loan Amt_x', 'sum'),               
    total_gl_balance=('total_GL_balance', 'sum'),          
    avg_remaining_months=('Mth Due', 'mean')
).reset_index()

print(performance_summary)

  Ageing Categories  num_accounts  total_loan_amount  total_gl_balance  \
0               >M3           879          6113700.0        13992400.0

   avg_remaining_months
0              0.935216

## Task 3 outcome
Due to all accounts falling in the ">M3" catergory, this indicates a high probability of default from all accounts. Monitoring these accounts are critical to managing credit risk. 

However, since the average remaining months for loan due is 0.9, this indicates that the accounts are ahead of their payments. 
Total Gross Ledger is double that of the total loan amount, the companies position is still healthy. As a precautionary measure, we can estimate potential defaults for loans in the >M3 catergories based on historical recovery rates from datasaet 1 and closely monitor overdue loan accounts of those in dataset 4.

# Scen 3
Scenario: You are providing Genie Dataset 2. Can you provide your insights and recommendations inline with the following questions 
Question 1:  What do you think about a company underwriting risk profile? Please elaborate your thought and how we could improve from current situation.

In [25]:
df2.head()

,Submission Date,Application No.,Prepared Date,Judge Status,Judge Remarks,Prepare Remarks,Agrt No.,Approval Date,Hirer NRIC,Car Plate No.,...,Appeal By,Date Appeal,First Approved Date(N),First Approved By(N),Ins Date,First Reject Date,First Reject By,Loan Type,Dealer ID.1,H Yrs Svr
0,2021-12-08,APP0000001,2022-02-24,DISBURSED,Incomplete customer details. _x000D_\n_x000D_\...,"APPLICANT IS OWN BUSINESS, OWNING 2 SOLE-PROPS...",A0000008,2022-02-24,77110808****,DEF****,...,YEAP,2022-02-23,NaN,NaN,NaN,NaN,NaN,CONVENTIONAL,D000001,0.0
1,2021-12-10,APP0000002,2021-12-13,CANCEL,APPLICANT WORKING AS A SUPERVISOR FOR 2 YEARS ...,DONE AMENDMENT.,NaN,2021-12-30,85101613****,QS6****,...,JINFEI,2022-04-04,NaN,NaN,NaN,NaN,NaN,CONVENTIONAL,D000001,2.0
2,2021-12-13,APP0000003,2021-12-16,CANCEL,REJECTE GTOR ARMY_x000D_\n_x000D_\nHIRER NOT P...,REJECTE GTOR ARMY_x000D_\n_x000D_\nHIRER NOT P...,NaN,2021-12-16,99021311****,ALA****,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,CONVENTIONAL,D000001,0.0
3,2021-12-14,APP0000004,2021-12-20,CANCEL,-PENDING ANOTHER 3 MTHS P/SLIP AND EPF OR BANK...,-PENDING ANOTHER 3 MTHS P/SLIP AND EPF OR BANK...,NaN,2021-12-20,98072814****,WA2****,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,CONVENTIONAL,D000001,0.0
4,2021-12-14,APP0000005,2021-12-21,CANCEL,PENDING BANK STATEMENT_x000D_\nAPPLICANT REQUE...,APPLICANT REQUEST FOR PROTON X70 MANUFACTURED ...,NaN,2021-12-21,90101109****,VDB****,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,CONVENTIONAL,D000001,0.0

In [26]:
# Based on the data, Judge Status identifies if loan was approved and specific details which will reveal key patterns related to loan applications and thier approval status.
status_distribution = df2['Judge Status'].value_counts()
print(status_distribution)

Judge Status
CANCEL       237
DISBURSED     16
Name: count, dtype: int64

In [27]:
# Analyze reasons for rejection by looking at Judge Remarks for rejected/canceled applications
rejected_data = df2[df2['Judge Status'].isin(['CANCEL', 'REJECT'])]
rejection_reasons = rejected_data['Judge Remarks'].value_counts().head(10)

rejection_reasons

Judge Remarks
APPLICANT WORKING AS A SUPERVISOR FOR 2 YEARS IN TFP RETAIL SDN BHD. APPLICANT HAS THE CAPACITY OF PAYING THE INSTALMENT AND THE DSR REFLECTED ONLY 21.13%. RECOMMENDED FOR APPROVAL._x000D_\nLOAN APPROVED AT RM29K. SUBJECT TO UTILITY BILL PROVIDED._x000D_\nCHANGE CAR FROM SYE9303 TO VEM6184. SAME CAR MODEL, SAME YEAR. OTHERS REMAIN UNCHANGE._x000D_\nIncorrect DSR. Pls amend_x000D_\nAPPLICANT WORKING AS A SUPERVISOR FOR 2 YEARS IN TFP RETAIL SDN BHD. APPLICANT HAS THE CAPACITY OF PAYING THE INSTALMENT AND THE DSR REFLECTED ONLY 21.13%. RECOMMENDED FOR APPROVAL._x000D_\nSales admin to input remarks_x000D_\nDONE AMENDMENT._x000D_\nProceed to approve subject to utility bill._x000D_\nCHANGE CAR FROM SYE9303 TO VEM6184. SAME CAR MODEL, SAME YEAR. OTHERS REMAIN UNCHANGE. _x000D_\n_x000D_\nCHANGE CAR MODEL FROM PERODUA BEZZA VEM6184 TO PROTON SAGA QS6971M , OTR PRICE CHANGE TO RM40,000 AND LOAN AMOUNT TO RM31,400. OTHER TERM REMAIN UNCHANGE._x000D_\ntrade ref<1.5k, CCRIS prompt conduct_x000D_\nDSR 20.19%_x000D_\napproved RM31.4k, others remain unchanged_x000D_\nCHANGE CAR FROM SYE9303 TO VEM6184. SAME CAR MODEL, SAME YEAR. OTHERS REMAIN UNCHANGE. _x000D_\n_x000D_\nCHANGE CAR MODEL FROM PERODUA BEZZA VEM6184 TO PROTON SAGA QS6971M , OTR PRICE CHANGE TO RM40,000 AND LOAN AMOUNT TO RM31,400. OTHER TERM REMAIN UNCHANGE._x000D_\n_x000D_\n4/4/2022_x000D_\nCHANGE CAR    1
_x000D_\nCCRIS 1 SAA_x000D_\nReject                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
CWA > LOAN AMOUNT/ EMAIL ADDR / EMPLOYMENT_x000D_\n_x000D_\nCW MS.NOR AHMAD > PEMBANTU PENGUATKUASA/ B2,261.22/ YOS 14 Y_x000D_\n_x000D_\n_x000D_\nDONE VERIFICATION_x000D_\nCWA > LOAN AMOUNT/ EMAIL ADDR / EMPLOYMENT_x000D_\n_x000D_\nCW MS.NOR AHMAD > PEMBANTU PENGUATKUASA/ B2,261.22/ YOS 14 Y_x000D_\n_x000D_\n_x000D_\nDONE VERIFICATION_x000D_\nCust cancelled previous app. Req for new car with change of dealer_x000D_\nCCRIS prompt payment_x000D_\nApproved RM31.5k / 7 yrs/ 8%                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
Hirer no CCRIS, provided sister as Gtor_x000D_\nGtor 32MIA on PTPTN, other prompt pmt_x000D_\n_x000D_\nWrong Gtor IC, incorrect Hirer gross income_x000D_\ncwa-done verified with applicant_x000D_\ncwo-done c=verified with office (theressa)_x000D_\ncwgg- doner verified with gtor (sister)_x000D_\n_x000D_\ndone amend_x000D_\nApproved RM46.2k/ 9yrs/ 7%                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
REJECT DUE TO FELDA_x000D_\nFELDA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
_x000D_\nHirer is a Gov servant, SPGA reflected. CCRIS prompt conduct._x000D_\nLow DSR. Approved RM43.3k /7yrs/8%                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
CWA > CFM LOAN AMOUNT / EMAIL ADDRS / GTOR  DETAILS _x000D_\n           OWN BUSS/ 1Y/ FULL TIME JOB _x000D_\n_x000D_\nDONE VERIFICATION_x000D_\nCWA > CFM LOAN AMOUNT / EMAIL ADDRS / GTOR  DETAILS _x000D_\n           OWN BUSS/ 1Y/ FULL TIME JOB _x000D_\n_x000D_\nDONE VERIFICATION_x000D_\n_x000D_\n_x000D_\nREJECT DUE TO FELDA_x000D_\nFELDA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
CWA > LOAN AMOUNT/ EMAIL ADDRS / CURR ADDRS_x000D_\nCWO > ASSIT MAITENANCE / 8Y/ B3385/ PERMANENT_x000D_\nCWA > LOAN AMOUNT/ EMAIL ADDRS / CURR ADDRS_x000D_\nCWO > ASSIT MAITENANCE / 8Y/ B3385/ PERMANENT_x000D_\n_x000D_\nDONE VERIFICATION_x000D_\nCWA > LOAN AMOUNT/ EMAIL ADDRS / CURR ADDRS_x000D_\nCWO > ASSIT MAITENANCE / 8Y/ B3385/ PERMANENT_x000D_\n_x000D_\nDONE VERIFICATION_x000D_\nApp form not signed_x000D_\nHirer no CCRIS. car price/ tenure checked._x000D_\ncond; Dec B/S_x000D_\n_x000D_\nIncorrect gross income calculation_x000D_\nCWA > LOAN AMOUNT/ EMAIL ADDRS / CURR ADDRS_x000D_\nCWO > ASSIT MAITENANCE / 8Y/ B3385/ PERMANENT_x000D_\n_x000D_\nDONE VERIFICATION_x000D_\n_x000D_\nDONE AMEND INCOME_x000D_\nApproved RM41k/ 9yrs/ 8%                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
CWA > CFM LOAN AMOUNT/ EMAIL ADDRS/ HOUSE ADDRS_x000D_\nNEED GTOR DSR BURST                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
CW MS.HASSANAH > LOGISTICS ASSITANT/ B1704/ YOS 14_x000D_\nCW MS.HASSANAH > LOGISTICS ASSITANT/ B1704/ YOS 14 Y_x000D_\nCW MS.HASSANAH > LOGISTICS ASSITANT/ B1704/ YOS 14 Y_x000D_\n_x000D_\n_x000D_\nCWGROT > EXECUTIVE/ 11Y/ B5853/ PERMANENT_x000D_\nCW MS.HASSANAH > LOGISTICS ASSITANT/ B1704/ YOS 14 Y_x000D_\n_x000D_\n_x000D_\nCWGTOR  > EXECUTIVE/ 11Y/ B5853/ PERMANENT_x000D_\nCWA > LOAN AMOUNT/ GTOR DETAILS / CURR ADDRS /EMAIL ADDRS _x000D_\nCW MS.HASSANAH > LOGISTICS ASSITANT/ B1704/ YOS 14 Y_x000D_\n_x000D_\n_x000D_\nCWGTOR  > EXECUTIVE/ 11Y/ B5853/ PERMANENT_x000D_\n_x000D_\n_x000D_\nDONE VERIFICATION_x000D_\nCWA > LOAN AMOUNT/ GTOR DETAILS / CURR ADDRS /EMAIL ADDRS _x000D_\nCW MS.HASSANAH > LOGISTICS ASSITANT/ B1704/ YOS 14 Y_x000D_\n_x000D_\n_x000D_\nCWGTOR  > EXECUTIVE/ 11Y/ B5853/ PERMANENT_x000D_\n               PENDING GTOR OCT PAYLSIP BUT SALARY CREDITING TO B/S_x000D_\n_x000D_\n_x000D_\nDONE VERIFICATION_x000D_\nCWA > LOAN AMOUNT/ GTOR DETAILS / CURR ADDRS /EMAIL ADDRS _x000D_\nCW MS.HASSANAH > LOGISTICS ASSITANT/ B1704/ YOS 14 Y_x000D_\n_x000D_\n_x000D_\nCWGTOR  > EXECUTIVE/ 11Y/ B5853/ PERMANENT_x000D_\n               PENDING GTOR OCT PAYLSIP BUT SALARY CREDITING TO B/S_x000D_\n_x000D_\n_x000D_\nDONE VERIFICATION_x000D_\nAPPROVED 52700 X 8% X 7 YRS                                                                                                1
Name: count, dtype: int64

In [28]:
# Analyze loan amounts for disbursed vs rejected/canceled applications
loan_amount_by_status = df2.groupby('Judge Status')['Loan Type'].count()

# Exploring the average loan tenure for disbursed vs rejected/canceled cases
avg_tenure_by_status = df2.groupby('Judge Status')['H Yrs Svr'].mean()

loan_amount_by_status, avg_tenure_by_status

(Judge Status
 CANCEL       237
 DISBURSED     16
 Name: Loan Type, dtype: int64,
 Judge Status
 CANCEL       2.264135
 DISBURSED    3.968750
 Name: H Yrs Svr, dtype: float64)

## Scen 3 outcome
In Genie dataset 2, a large majority of the applications were "CANCEL" indicating a high rejection rate. The company's underwriting process is either too stringent, or attracting many applicants that fail to meet the profile criteria. There may be missed opportunities for applicants who could apply if pre-screening was more effective.
To improve from this situation, stricter pre-screening proccesses must apply to ensure applicants meet baseline criteria. 

Common reasons for rejection include incomplete customer details and pending bank statements and payslips. this suggests that there is a lack of pre-application screenings and application follow-ups to insert key documents. 
A stricter documentation submission policy could be put in place to avoid the scenerio where applicants are lacking information to what documents they need to submit. 
Introducing automated checks/follow ups durring application for incomplete documents would reduce the need for cancellation while still managing risks. 

Under the "H Yrs Svr" column, we can see that applicants that were disbursed loans have an average of 3.97 years in service which was much higher than those that had their application cancelled (2.26 years). Prioritizing job stability contributes to migating default risk.